:root {
  --black: rgb(0, 0, 0);
  --gold: rgb(233, 202, 27);
  --white: #ffffff;
}

body {
  background-color: var(--black);
  color: var(--white);
}

header {
  font-family: "Pinyon Script", cursive;
  text-align: center;
  font-size: 40px;
  color: var(--gold);
  background-color: var(--black);
  padding: 15px;
}

h2,
h3,
h4 {
  font-family: "Pinyon Script", cursive;
  text-align: center;
  font-size: 40px;
  color: var(--gold);
}

h5 {
  font-family: "Pinyon Script", cursive;
  color: var(--gold);
  font-size: 20px;
}

card {
  flex: 1;
  margin-left: 90px;
}

.recent-search {
  color: var(--white);
  margin-top: 20px;
  font-size: 20px;
  border-style: solid;
  border-color: var(--white);
  border-width: 1px;
  border-radius: 17px;
  text-align: center;
}

.recent-search:hover {
  color: var(--gold);
  border-color: var(--gold);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.list-item {
  margin-right: 90px;
}

#sidebar {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 20%;
  height: 900px;
  color: var(--gold);
  background-color: var(--black);
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
  margin: 2px;
}

#search-bar {
  border-radius: 17px;
  padding-left: 15px;
}

#forecast {
  border-bottom-style: solid;
  border-bottom-color: var(--white);
  border-bottom-width: 1px;
}

#location {
  background-color: var(--black);
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
  margin: 2px;
}

#location-info {
  margin-left: 10px;
}

#card-container {
  background-color: var(--black);
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
  display: flex;
}

#card-container.p {
  display: flex;
  flex-direction: row;
}

#info-list {
  display: flex;
  font-size: 20px;
}

#current-weather-icon {
  height: 100px;
  width: 100px;
}
